@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    color: black;
    background-color: #f6f8fa;
    padding: 2rem;
}
h1{
    text-align: center;
    font-size: 1.5rem;
}
main{
    max-width: 1000px; 
    margin: 1rem auto;
    background-color: #fff;
    padding: 1rem;
}

header{
    background-color: rgb(23, 126, 129);
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.edit{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-top: 20px;
}
@media screen and (max-width: 508px){
    .edit{
        flex-direction: column;
        row-gap: 15px;
    }
}
section{
    flex-basis: calc(50% - 15px);
}
header div{
    padding: 5px;
}
header div:first-child{
    flex-basis: 100%;
    font-size: 2.25rem;
    font-weight: 600;
}
header div:nth-child(n+2){
    flex-basis: 50%;
    font-size: 1.25rem;
    font-weight: 500;
}
header h5{
    font-size: 1rem;
    font-weight: 600;
}

h3 ,header, ul, #status{
    margin-bottom: 0.5rem;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

form input:not(#type), form button{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 40px;
    font-family: "Poppins";
    font-size: 1rem;
    margin-bottom: 10px;
}
form button{
    border: none;
    background-color:rgb(23, 126, 129);
    font-weight: 600;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
}
form div:nth-child(n-2){
    flex-basis: 100%;
}
form div:nth-child(n+3){
    flex-basis: calc(50% - 5px);
}
input#type{
    appearance: none;
    position: absolute;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    position: relative;
}

.option span{
    width: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.option::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #fff;
    height: calc(100% - 10px);
    width: calc(50% - 10px);
    transform: translateX(5px);
    border-radius: inherit;
    transition: all 150ms;
}
input#type:checked ~ .option::before{
    left: 50%;
}
form label{
    font-size: 0.85rem;
    font-weight: 500;
}

ul{
    list-style-type: none;
    max-height: 255px;
    overflow-y: auto;
}

@media screen and (max-width: 857px){
    ul{
        max-height: 350px;
    }
}
#status{
    text-align: center;
}

ul li{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 10px;
    position: relative;
}
ul li:hover{
    background-color:rgba(0,0,0,0.1) ;
}
.name{
    flex:1;
}
.name h4{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}
.name p{
    font-size: 0.8rem;
}
.amount{
    font-weight: 500;
}

.action{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2) ;
    color: #fff;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 300ms;
}

.action svg{
    widows: 36px;
    height: 36px;
    cursor: pointer;
}
ul li:hover .action{
    transform: scaleX(1);
}